.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.link{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: azure;
    
}

button{
    width: 60%;
    height: 7%;
    background-color: rgb(38, 39, 39);
    margin: 5px 5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 100%;
    text-decoration: none;
   

}

.logo{
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    font-weight:bold;
    margin: 1px 1px 1px 1px;
  }
  
  .logo h3{
    display: flex;
    justify-content: end;
    margin-top: 1PX;
    
  }
  
  .logo h1{
    display: flex;
    margin-bottom: 0.2px;
    
  }

/* .botao{
   max-width: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
} */